.signup-position-logo {
  position: fixed;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -270px);
}


.auth-box {
  width: 365px;
  height: 550px;
  border-radius: 39px;
  box-shadow: 0 0 8px 0 #b7b7b7;
  background-color: #ffffff;
}

.auth-form-button-submit {
  padding: 1vh 8vh;
  border-radius: 30.5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #151515;
  font-size: 3vh;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  margin-top: 3vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin: 3vh;
  margin-top: 8vh;
  height: 90%;
  justify-content: space-evenly;
}

.auth-font-size{
  font-size: 1.7vh;
  font-family: 'Montserrat', sans-serif;
}