.formcreate -margin-top{
    margin-top: 3vh;
    width: 95%;
}

.formcreatetrip-inputstyles{
    border-color: white;
    color:white;
}

.borderTest {
    border:none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    width: 100%;
  }

.color-grey{
    color: #979797;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vh;

}

.font-family-roboto{
    font-family: 'Roboto', sans-serif;
}

.formcreatetrip-age-range{
    border:none;
    background: none;
    padding: 1vh;
}

.formcreatetrip-text-area{
    width: 96%;
    border-radius: 0.7vh;
    height: 6vh;
    padding-top: 1.5vh;
    padding-left: 1.5vh;
    border-color: #ddd;
}

.formcreatetrip-date{
    width: 20vh;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.formcreatetrip-flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.4vh;
}

.formcreatetrip-text-align-center{
    text-align: center;
}

.formcreatetrip-button{
    border-radius: 5vh;
    background: none;
    padding:10px;
    width: 15vh;
    border: none;
    border: 1px solid #ffb035;
    background-color: #fffcf77c;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7vh;
}

.formcreatetrip-footer{
  position: absolute;
  bottom: 0;
  height: 8vh;
  width: 90%;
}

.formcreate-border-input{
    border-radius: 0.6vh;
    border: 1px solid grey;
    padding: 1vh;
    width: 100%;
}

.formcreate-padding-top{
    margin-bottom: 3vh;
}

.formcreate-padding-top2{
    margin-top: 5vh;
}

.formcreate-margin{
    margin-bottom: 3vh;
}

.formedittrip-margin-top-global{
    margin-top: 2vh;
}

.formedittrip-margin-bottom{
    margin-bottom: 4vh;
}