.trips-height-tool-bar {
    height: 7vh;
    border: 1px solid green;
}

.trips-height-filter {
    height: 6vh;
    border: 1px solid rgb(238, 47, 47);
}

.trips-margin-div-global{
    margin-right: 3vh;
    margin-left: 3vh;
}

.trips-title{
    font-size: 3.5vh;
}

.font-family-montserrat {
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

.trips-div-title-margin {
    margin-top: 3vh;
}

.tripcard-image{
    width: 100%;
    height: 25vh;
    border-radius: 1vh;
}

.tripscard-margin-top{
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.tripcard-title{
    font-size: 2.9vh;
    margin-top: 0.9vh;
}

.tripcard-style-p{
    font-size: 2.1vh;
    margin-top: 1vh;
    color: #404040;
}

.trips-margin-down{
    margin-top: 14vh
}